# don't include compiler utilities
Utilities
Documentation
SPI
*old*

# don't include compiler output
*.hex
*.lst
*.p
*.bin
*.o
*.map
*.i
*.srec
*.out

# don't include intermediary files
Software/vMandelbrot/*.s

# exclude WinCupl output files

*.jed
*.abs
*.lst
*.doc
*.pla
*.wo
*.so
*.sim
Logic/*/*.pdf
Logic/*/CB*
Logic/*/CM*

# From: https://github.com/github/gitignore/blob/master/KiCad.gitignore
# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*-cache*
*-bak
*-bak*
*~
~*
_autosave-*
\#auto_saved_files\#
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
~*.lck
\#auto_saved_files#
*.ai

*.old

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# Archived Backups (KiCad 6.0)
**/*-backups/*.zip

# Local project settings
*.kicad_prl

# exclude plot output
*_Gerbers.zip
Gerbers
*_bak
.vscode/c_cpp_properties.json
production
fabrication-toolkit-options.json
